<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>
<h5>
  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>
 </h5>

  <div class="form-inputs">
    <%= f.association :contest, value_method: :id, :as => :hidden, :input_html => {:value =>(@contest.id) }, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.submit "Register" %>
  </div>
<% end %>