<h1>Listing Contests</h1>
<div class="table-responsive">
    
<table id="problems" class="table table-stripped">  
 <thead>
    <tr>
      <th>Contest name</th>
      <th>Start</th>
      <th>End</th>
      <th>Organiser</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.each do |contest| %>
      <tr>
        <td><%= link_to(contest.contestName, contest) %></td>
        <td><%= contest.startDateTime %></td>
        <td><%= contest.endDateTime %></td>
        <td><%= contest.user.username %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if current_user.try(:admin?) %>
    <%= link_to 'New Contest', new_contest_path %>
<%end%>
